<template>
  <div id="app">
    <div class="container">
      <a id="Mybtn" @click="showAddModal" class="add">Add Books</a>
      <input
        type="text"
        placeholder="Search.."
        name="search"
        v-model="search"
        style="float: right; border:2px solid;"
      />
      <br /><br />
      <table class="table">
        <thead>
          <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Author</th>
            <th>Coples Available</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(book, index) in bookSearch" :key="index">
            <td>
              <a href="" @click.prevent="ToBeUpdated(index)" v-b-modal.editModal
                >Edit</a
              ><br />
              <a href="" @click.prevent="say(index)">Delete</a><br />
              <a href="">Borrow</a><br />
              <a href="">Return</a>
            </td>
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.copies }}</td>
            <td>{{ book.category }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal id="addModal" hide-footer centered>
      <template #modal-title>Add Books</template>
      <div>
        <form action="" class="modal-content">
          <label for="" class="ml-2 mt-4"
            >Name <input type="text" class="ml-5" v-model="input.name"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Author <input type="text" class="ml-5" v-model="input.author"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Copies <input type="text" class="ml-5" v-model="input.copies"
          /></label>

          <label class="ml-2 mt-4"
            >Category
            <select name="category" class="ml-4" v-model="input.category">
              <option selected disabled>Please select a category</option>
              <option value="Fiction">Fiction</option>
              <option value="Computer Science">Computer Science</option>
              <option value="Horror">Horror</option>
              <option value="Novel">Novel</option>
              <option value="Biography">Biography</option>
            </select>
          </label>
        </form>

        <button class="btn btn-primary float-right mt-2" @click="savePatron">
          Add Books
        </button>
      </div>
    </b-modal>

    <!--- EDIT MODAL --->
    <b-modal id="editModal" centered title="Edit Book">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            v-model="input.name"
            class="form-control"
            id="name"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="author">Author</label>
          <input
            type="text"
            v-model="input.author"
            class="form-control"
            id="author"
            placeholder=""
          />
        </div>
        <div class="form-group">
          <label for="copies">Copies</label>
          <input
            v-model="input.copies"
            class="form-control"
            id="copies"
            placeholder=""
            type="number"
          />
        </div>
        <div class="form-group">
          <label for="customSelect">Category</label>
          <select
            id="customSelect"
            v-model="input.category"
            name="cars"
            class="custom-select"
          >
            <option selected disabled>Please select a category</option>
            <option value="Fiction">Fiction</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Horror">Horror</option>
            <option value="Novel">Novel</option>
            <option value="Biography">Biography</option>
          </select>
        </div>
      </form>
      <template #modal-footer="{cancel}">
        <b-button variant="primary" size="sm" @click="cancel()">
          Cancel
        </b-button>
        <b-button
          size="sm"
          variant="success"
          @click="UpdatePatron(SelectedBook)"
        >
          Update Book
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      books: [
        {
          name: "Data Structures",
          author: "Batman",
          copies: "15",
          category: "Computer Science",
        },
        {
          name: "Code Complete",
          author: "Steve",
          copies: "12",
          category: "Computer Science",
        },
        {
          name: "Java",
          author: "Hulk",
          copies: "17",
          category: "Computer Science",
        },
        {
          name: "Python",
          author: "Superman",
          copies: "16",
          category: "Computer Science",
        },
      ],
      input: {
        name: "",
        author: "",
        copies: "",
        category: "",
      },

      SelectedBook: "",
      search: "",
    };
  },

  methods: {
    say: function(index) {
      var confirms = confirm("Are you sure you want to delete?");
      if (confirms == true) {
        this.$delete(this.books, index);
      } else {
        console.log(confirms);
      }
    },
    showAddModal() {
      this.clearFields();
      this.$bvModal.show("addModal");
    },
    savePatron() {
      if (
        this.input.name.trim() == "" ||
        this.input.author.trim() == "" ||
        this.input.copies.trim() == "" ||
        this.input.category.trim() == ""
      ) {
        this.ErrorToast();
        this.$bvModal.hide("addModal");
      } else {
        this.books.unshift({ ...this.input });
        this.clearFields();
        this.$bvModal.hide("addModal");
        this.AddToast();
      }
    },
    UpdatePatron(index) {
      if (
        this.input.name.trim() == "" ||
        this.input.author.trim() == "" ||
        this.input.copies.trim() == "" ||
        this.input.category.trim() == ""
      ) {
        this.ErrorToast();
        this.$bvModal.hide("editModal");
      } else {
        this.books.splice(index, 1, this.input);
        console.log(index);
        this.$bvModal.hide("editModal");
        this.AddToast();
      }
    },
    ToBeUpdated(index) {
      this.SelectedBook = index;
      this.input.name = this.books[index].name;
      this.input.author = this.books[index].author;
      this.input.copies = this.books[index].copies;
      this.input.category = this.books[index].category;
    },
    clearFields() {
      this.input = {
        name: "",
        author: "",
        copies: "",
        category: "",
      };
    },
    AddToast() {
      this.$toast.success(`Successfully`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },
  computed: {
    bookSearch() {
      return this.books.filter((book) => {
        return this.search
          .toLowerCase()
          .split(" ")
          .every((v) => book.name.toLowerCase().includes(v));
      });
    },
  },
};
</script>

<style>
@import "../assets/css/library.css";
</style>
