<template>
  <div id="app">
    <div class="container">
      <a id="Mybtn" @click="showAddModal" class="add">Add Patrons</a>
      <input
        type="text"
        placeholder="Search.."
        name="search"
        style="float: right; border:2px solid;"
        v-model="search"
      />
      <br /><br />
      <table class="table">
        <thead>
          <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Date Registered</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(patron, index) in patronSearch" :key="index">
            <td>
              <a @click="ToBeUpdated(index)" v-b-modal.editModal>Edit</a><br />
              <a href="" @click.prevent="say(index)">Delete</a>
            </td>
            <td>
              {{
                patron.firstname +
                  " " +
                  patron.middlename +
                  " " +
                  patron.lastname
              }}
            </td>
            <td>{{ patron.email }}</td>
            <td>{{ patron.date }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal id="addModal" hide-footer centered>
      <template #modal-title>Add Patron</template>
      <div>
        <form action="" class="modal-content">
          <label for="" class="ml-2 mt-4"
            >First Name
            <input type="text" class="ml-5" v-model="input.firstname"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Middle Name
            <input type="text" class="ml-4" v-model="input.middlename"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Last Name <input type="text" class="ml-5" v-model="input.lastname"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Email Address <input type="text" class="ml-4" v-model="input.email"
          /></label>
        </form>

        <button class="btn btn-primary float-right mt-2" @click="savePatron">
          Add Patron
        </button>
      </div>
    </b-modal>

    <b-modal id="editModal" centered title="Edit Patron">
      <form class="pl-5 pr-5">
        <div class="form-group">
          <label for="EditPatronFirstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="EditPatronFirstName"
            placeholder=""
            v-model="input.firstname"
          />
        </div>
        <div class="form-group">
          <label for="EditPatronMiddleName">Middle Name</label>
          <input
            type="text"
            class="form-control"
            id="EditPatronMiddleName"
            placeholder=""
            v-model="input.middlename"
          />
        </div>
        <div class="form-group">
          <label for="EditPatronLastName">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="EditPatronLastName"
            placeholder=""
            v-model="input.lastname"
          />
        </div>
        <div class="form-group">
          <label for="EditPatronEmail">Email address</label>
          <input
            type="text"
            class="form-control"
            id="EditPatronEmail"
            placeholder=""
            v-model="input.email"
          />
        </div>
      </form>
      <template #modal-footer>
        <b-button
          size="sm"
          variant="primary"
          @click="UpdatePatron(SelectedPatron)"
        >
          Update Patron
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      patrons: [
        {
          firstname: "Roscer Grace",
          middlename: "",
          lastname: "Santos",
          email: "santos.roscergrace@gmail.com",
          date: new Date().toISOString().slice(0, 10),
        },
      ],
      input: {
        firstname: "",
        middlename: "",
        lastname: "",
        email: "",
        date: new Date().toISOString().slice(0, 10),
      },

      SelectedPatron: "",
      search: "",
    };
  },
  methods: {
    say: function(index) {
      var confirms = confirm("Are you sure you want to delete?");
      if (confirms == true) {
        this.$delete(this.patrons, index);
      } else {
        console.log(confirms);
      }
    },
    showAddModal() {
      this.clearFields();
      this.$bvModal.show("addModal");
    },
    savePatron() {
      if (
        this.input.firstname.trim() == "" ||
        this.input.middlename.trim() == "" ||
        this.input.email.trim() == ""
      ) {
        this.ErrorToast();
        this.$bvModal.hide("addModal");
      } else {
        this.patrons.unshift({ ...this.input });
        this.clearFields();
        this.$bvModal.hide("addModal");
        this.AddToast();
      }
    },
    UpdatePatron(index) {
      if (
        this.input.firstname.trim() == "" ||
        this.input.middlename.trim() == "" ||
        this.input.email.trim() == ""
      ) {
        this.ErrorToast();
        this.$bvModal.hide("editModal");
      } else {
        this.patrons.splice(index, 1, this.input);
        console.log(index);
        this.$bvModal.hide("editModal");
        this.AddToast();
      }
    },
    ToBeUpdated(index) {
      this.SelectedPatron = index;
      this.input.firstname = this.patrons[index].firstname;
      this.input.middlename = this.patrons[index].middlename;
      this.input.lastname = this.patrons[index].lastname;
      this.input.email = this.patrons[index].email;
    },
    clearFields() {
      this.input = {
        firstname: "",
        middlename: "",
        lastname: "",
        email: "",
      };
    },
    AddToast() {
      this.$toast.success(`Successfully`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
    ErrorToast() {
      this.$toast.error(`Error`, {
        position: "top-right",
        timeout: 3000,
        closeOnClick: true,
        pauseOnFocusLoss: false,
        pauseOnHover: false,
        draggable: true,
        draggablePercent: 0.6,
        showCloseButtonOnHover: false,
        hideProgressBar: true,
        closeButton: "button",
        icon: true,
        rtl: false,
      });
    },
  },
  computed: {
    patronSearch() {
      return this.patrons.filter((patron) => {
        return this.search
          .toLowerCase()
          .split(" ")
          .every((v) => patron.firstname.toLowerCase().includes(v));
      });
    },
  },
};
</script>

<style>
@import "../assets/css/library.css";
</style>
