body{
	background-color:  #bdc3c7;
}
.container{
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 40px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(0,0,0,0.5);
	color: white;
	height:100px;
	border-radius: 5px;
	font-family: agency FB;

}
.header {
  overflow: hidden;
  background-color: rgba(0,0,0,1.9);
  padding: 20px 20px;
  padding-bottom: 15px;

}

.nav-pills {
  float: right;
  font-family: agency FB;
  font-weight: bold;
  font-size: 20px;
}
@media (min-width: 768px){
	.container{
		width:750px;
	}

}
.container p {
	text-align: center;
	font-size: 20px;
}
img{
	width: 300px;
	height: 300px;
}
.caption{
	margin-left: 50px;
	color:black;
	font-size: 20px;
	font-family: agency FB;
}
.head{
	margin-left: 40px;
	color: black;
	font-family: agency FB;
}
.head p {
	margin-left: 130px;
	font-size: 20px;
	font-family: agency FB;
}
.panel-body{
	text-align: center;
	font-size: 20px;
	font-family: agency FB;
	color: black; 

}
.panel-title{
	text-align: center;
	color: black;
	font-family: agency FB;
}
.panel-title a{
	font-size: 20px;
	font-family: agency FB;

}
.title{
	margin-left: 100px;
	font-family: agency FB;
}
.title h1{
	font-size: 200px;
	font-family: Arial Rounded MT;
	color:#ff6600;

}
.btn{
	border-radius: 50px;
	font-family: agency FB;
	font-size: 20px;
}
.logo{
	font-weight: bold;
	background-color: orange;
	font-size: 70px;
	margin-right: auto;
	margin-left: auto;
	color:red;
	border-radius: 50px;
	font-family: algerian;
}
.panel-footer{
	font-family: agency FB;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}