<template>
  <div>
    <!-- Sidebar -->
    <div class="span2">
      <div class="container-fluid">
        <div class="row-fluid">
          <br /><br />
          <i class="material-icons">dashboard</i
          ><router-link to="/" id="btn"> Dashboard</router-link><br /><br />
          <i class="material-icons">people</i
          ><router-link to="Patron" id="button2"> Patron Management</router-link
          ><br /><br />
          <i class="material-icons">book</i
          ><router-link to="Book" id="button3"> Book Management</router-link
          ><br /><br />
          <i class="material-icons">settings</i
          ><router-link to="Settings" id="button4"> Settings</router-link>
        </div>
      </div>
    </div>
  </div>
</template>
