<template>
  <div id="app">
    <NavBar />
    <SideBar />

    <table class="myTable mt-5">
      <thead>
        <th>
          <div class="card">
            <div class="card-body">
              <p>Borrowed and Returned Books</p>
              <canvas id="myChart"></canvas>
            </div>
          </div>
        </th>
        <th>
          <div class="card">
            <div class="card-body">
              <p>Popular Book Genre</p>
              <canvas id="Chart"></canvas>
            </div>
          </div>
        </th>
      </thead>
    </table>
  </div>
</template>

<script>
import Chart from "chart.js";
import NavBar from "./components/navbar";
import SideBar from "./components/sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
  mounted: function() {
    var ctx1 = document.getElementById("myChart").getContext("2d");
    new Chart(ctx1, {
      type: "bar",
      data: {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
        ],
        datasets: [
          {
            label: "Borrowed & Returned",
            backgroundColor: "rgb(240, 100, 40)",
            borderColor: "rgb(0, 0, 0)",
            data: [0, 10, 5, 2, 20, 30, 45],
          },
        ],
      },
    });

    var ctx2 = document.getElementById("Chart").getContext("2d");
    new Chart(ctx2, {
      type: "doughnut",
      data: {
        labels: [
          "Clean Architecture",
          "Jose Rzal: Life, Works and Writings",
          "Code Complete",
          "Clean Code",
          "Continuous Delivery: Reliable Software Releas",
        ],
        datasets: [
          {
            label: "My First dataset",
            backgroundColor: [
              "rgb(255, 99, 132)",
              "rgb(255, 51, 204)",
              "rgb(255, 0, 0)",
              "rgb(51, 204, 51)",
              "rgb(255, 204, 0)",
              "rgb(51, 51, 255)",
              "rgb(240, 100, 40)",
            ],
            borderColor: "rgb(0, 0, 0)",
            data: [45, 5, 5, 25, 20],
          },
        ],
      },
      options: {},
    });
  },
};
</script>

<style>
@import "./assets/css/library.css";
</style>
