<template>
  <div id="app">
    <NavBar />
    <SideBar />

    <div class="container">
      <a id="Mybtn" @click="$bvModal.show('bv-modal-example')" class="add"
        >Add Books</a
      >
      <input
        type="text"
        placeholder="Search.."
        name="search"
        style="float: right; border:2px solid;"
      />
      <br /><br />
      <table class="table">
        <thead>
          <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Author</th>
            <th>Coples Available</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              ><br />
              <a href="">Borrow</a><br />
              <a href="">Return</a>
            </td>
            <td>Clean Architecture</td>
            <td>Robert Martin</td>
            <td>5</td>
            <td>Computer Science</td>
          </tr>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              ><br />
              <a href="">Borrow</a><br />
              <a href="">Return</a>
            </td>
            <td>Jose Rzal: Life, Works and Writings</td>
            <td>Gregorio Zaide</td>
            <td>5</td>
            <td>History</td>
          </tr>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              ><br />
              <a href="">Borrow</a><br />
              <a href="">Return</a>
            </td>
            <td>Code Complete</td>
            <td>Steve McConnell</td>
            <td>2</td>
            <td>Computer Science</td>
          </tr>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              ><br />
              <a href="">Borrow</a><br />
              <a href="">Return</a>
            </td>
            <td>Clean Code</td>
            <td>Robert Martin</td>
            <td>3</td>
            <td>Computer Science</td>
          </tr>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              ><br />
              <a href="">Borrow</a><br />
              <a href="">Return</a>
            </td>
            <td>Continuous Delivery: Reliable Software Releas</td>
            <td>Jes Humble</td>
            <td>5</td>
            <td>Computer Science</td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal id="bv-modal-example" hide-footer centered>
      <template #modal-title>Add Books</template>
      <div>
        <form action="" class="modal-content">
          <label for="" class="ml-2 mt-4"
            >Name <input type="text" class="ml-5"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Author <input type="text" class="ml-5"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Copies <input type="text" class="ml-5"
          /></label>

          <label class="ml-2 mt-4"
            >Category
            <select name="category" class="ml-4">
              <option value="">--Select Category</option>
            </select>
          </label>
        </form>

        <button class="btn btn-primary float-right mt-2">Add Books</button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import NavBar from "./components/navbar";
import SideBar from "./components/sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
  methods: {
    say: function(msg) {
      alert(msg);
    },
  },
};
</script>

<style>
@import "./assets/css/library.css";
</style>
