<template>
  <div id="app">
    <NavBar />
    <SideBar />

    <div class="container">
      <a id="Mybtn" @click="$bvModal.show('bv-modal-example')" class="add"
        >Add Patrons</a
      >
      <input
        type="text"
        placeholder="Search.."
        name="search"
        style="float: right; border:2px solid;"
      />
      <br /><br />
      <table class="table">
        <thead>
          <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>Date Registered</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              >
            </td>
            <td>Rizal, Jose</td>
            <td>jose.rizal@gmail.com</td>
            <td>Jan 20, 2020</td>
          </tr>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              >
            </td>
            <td>Luna, Juan</td>
            <td>juan.lunal@gmail.com</td>
            <td>Feb 15, 2020</td>
          </tr>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              >
            </td>
            <td>Luna, Juan</td>
            <td>juan.lunal@gmail.com</td>
            <td>Feb 15, 2020</td>
          </tr>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              >
            </td>
            <td>Luna, Juan</td>
            <td>juan.lunal@gmail.com</td>
            <td>Feb 15, 2020</td>
          </tr>
          <tr>
            <td>
              <a href="">Edit</a><br />
              <a href="" v-on:click="say('Are you sure you want to delete?')"
                >Delete</a
              >
            </td>
            <td>Luna, Juan</td>
            <td>juan.lunal@gmail.com</td>
            <td>Feb 15, 2020</td>
          </tr>
        </tbody>
      </table>
    </div>

    <b-modal id="bv-modal-example" hide-footer centered>
      <template #modal-title>Add Books</template>
      <div>
        <form action="" class="modal-content">
          <label for="" class="ml-2 mt-4"
            >First Name <input type="text" class="ml-5"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Middle Name <input type="text" class="ml-4"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Last Name <input type="text" class="ml-5"
          /></label>

          <label for="" class="ml-2 mt-4"
            >Email Address <input type="text" class="ml-4"
          /></label>
        </form>

        <button class="btn btn-primary float-right mt-2">Add Patron</button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import NavBar from "./components/navbar";
import SideBar from "./components/sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
  methods: {
    say: function(msg) {
      alert(msg);
    },
  },
};
</script>

<style>
@import "./assets/css/library.css";
</style>
