<template>
  <div id="app">
    <NavBar />
    <SideBar />
  </div>
</template>

<script>
import NavBar from "./components/navbar";
import SideBar from "./components/sidebar";
export default {
  name: "App",
  components: {
    NavBar,
    SideBar,
  },
};
</script>

<style>
@import "./assets/css/library.css";
</style>
