<template>
  <div>
    <!-- Sidebar -->
    <div class="span2">
      <div class="container-fluid">
        <div class="row-fluid">
          <br /><br />
          <i class="material-icons">dashboard</i
          ><a href="#" id="btn"> Dashboard</a><br /><br />
          <i class="material-icons">people</i
          ><a href="#" id="button2"> Patron Management</a><br /><br />
          <i class="material-icons">book</i
          ><a href="#" id="button3"> Book Management</a><br /><br />
          <i class="material-icons">settings</i
          ><a href="#" id="button4"> Settings</a>
        </div>
      </div>
    </div>
  </div>
</template>
